.racer_table td {
  background-color: white;
  height: 60px;
  min-width: 100px;
}

.racer_table #player1_race td.active {
  background-image: url("../img/player_1.png");
  background-size: 100px 60px;
}

.racer_table #player2_race td.active {
  background-image: url("../img/player_2.png");
  background-size: 100px 60px;
}

#race_border {
  top:120px;
  min-height: 5px;
  background-color: black;
  width:910px;
}

.racer_table td#finish {
  background-color: blue;
  min-width: 10px;
}

p.result {
  background-color: red;
  background-size: 500px 200px;
  color:white;
  font-size: 30px;
}